body {
  background-color: hsl(220, 13%, 18%);
  color: white;
}

main {
  margin: 0 20px;
  display: flex;
}


.App {
  text-align: center;
}

.App-header {
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.columnLayout {
  width: 25%;
  margin-right: 15px;
}

main div:last-of-type {
  margin-right: 0px;
}

.title {
  height: 25px;
  line-height: 25px;
  font-size: 100%;
  border: 1px solid rgb(255, 255, 255);
  margin:0;
}

ul {
  margin:0;
  padding:0;
  border: 1px solid rgb(255, 255, 255);
}

li {
  list-style: none;
}
